.page {
  width: 100%;
  margin: 0px;
  padding: 0px auto;
  text-align: center;

  .main {
    width: clamp(45.5rem, 12.611rem + 68.52vw, 64rem);
    min-height: 100vh;
    margin: 0px auto;
    padding: 100px 20px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;

    .first {
      display: flex;
      flex-direction: row;

      .logo {
        width: 50%;

        img {
          width: 90%;
          border-radius: 20%;
        }
      }

      .title {
        flex: 1;
        color: white;

        h1 {
          font-size: var(--page-title-font-size);
          text-shadow: 5px 5px 0px black, 10px 10px 0px orange;
        }

        h2 {
          font-size: var(--page-subtitle-font-size);
        }

        p {
          max-width: 90%;
          margin: 20px;
          font-size: var(--p-font-size);
        }
      }
    }

    .content {
      .card {
        width: 100%;
        margin: 20px 0px;
        padding: 20px;
        background-color: var(--card-bg-color);
        border-radius: 20px;
        box-sizing: border-box;

        h1 {
          color: white;
          font-size: var(--sect-title-font-size);

          a {
            color: white;
            &:hover {
              color: rgb(200, 200, 200);
            }
          }

          span {
            color: orange;
          }
        }

        p {
          color: white;
          font-size: var(--p-font-size);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    .main {
      width: calc(100% - 40px);
      margin: 0px auto;

      .first {
        flex-direction: column;

        .logo {
          width: clamp(15rem, 2.857rem + 60.71vw, 32rem);
          margin: 0px auto;
        }
      }
    }
  }
}
