@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Zen+Old+Mincho&display=swap");

html,
body,
#root {
  margin: 0px;
  padding: 0px;
  background-color: rgb(30, 30, 30);
  text-align: center;
  font-size: 16px;
}

:root {
  --page-title-font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  --page-subtitle-font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  --sect-title-font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  --subsect-title-font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  --p-font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  --main-width: clamp(45.5rem, 12.611rem + 68.52vw, 64rem);
  --main-bg-color: rgb(60, 60, 60);
  --card-bg-color: rgb(70, 70, 70);
  --subcard-bg-color: rgb(80, 80, 80);
}
