.page {
  width: 100%;
  margin: 0px;
  padding: 0px auto;
  text-align: center;

  .main {
    width: clamp(45.5rem, 12.611rem + 68.52vw, 64rem);
    min-height: 100vh;
    margin: 0px auto;
    padding: 100px 20px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;

    h1 {
      color: orange;
      font-size: var(--page-title-font-size);
    }

    p {
      color: white;
      font-size: var(--p-font-size);
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    .main {
      width: calc(100% - 40px);
      margin: 0px auto;
    }
  }
}
